######################################################################
# Build Tools

gtrj-admin/.gradle
gtrj-admin/build/
gtrj-admin/!gradle/wrapper/gradle-wrapper.jar

gtrj-admin/target/
gtrj-admin/!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
gtrj-admin/.apt_generated
gtrj-admin/.classpath
gtrj-admin/.factorypath
gtrj-admin/.project
gtrj-admin/.settings
gtrj-admin/.springBeans

### IntelliJ IDEA ###
gtrj-admin/.idea
gtrj-admin/*.iws
gtrj-admin/*.iml
gtrj-admin/*.ipr

### JRebel ###
gtrj-admin/rebel.xml

### NetBeans ###
gtrj-admin/nbproject/private/
gtrj-admin/build/*
gtrj-admin/nbbuild/
gtrj-admin/dist/
gtrj-admin/nbdist/
gtrj-admin/.nb-gradle/

######################################################################
# Others
gtrj-admin/*.log
gtrj-admin/*.xml.versionsBackup
gtrj-admin/*.swp

gtrj-admin/!*/build/*.java
gtrj-admin/!*/build/*.html
gtrj-admin/!*/build/*.xml







pure-admin-thin/node_modules
pure-admin-thin/.DS_Store
pure-admin-thin/dist
pure-admin-thin/dist-ssr
pure-admin-thin/*.local
pure-admin-thin/.eslintcache
pure-admin-thin/report.html
pure-admin-thin/vite.config.*.timestamp*

pure-admin-thin/yarn.lock
pure-admin-thin/npm-debug.log*
pure-admin-thin/.pnpm-error.log*
pure-admin-thin/.pnpm-debug.log
pure-admin-thin/tests/**/coverage/

# Editor directories and files
pure-admin-thin/.idea
pure-admin-thin/*.suo
pure-admin-thin/*.ntvs*
pure-admin-thin/*.njsproj
pure-admin-thin/*.sln
pure-admin-thin/tsconfig.tsbuildinfo



RuoYi-Vue3/.DS_Store
RuoYi-Vue3/node_modules/
RuoYi-Vue3/dist/
RuoYi-Vue3/npm-debug.log*
RuoYi-Vue3/yarn-debug.log*
RuoYi-Vue3/yarn-error.log*
RuoYi-Vue3/**/*.log

RuoYi-Vue3/tests/**/coverage/
RuoYi-Vue3/tests/e2e/reports
RuoYi-Vue3/selenium-debug.log

# Editor directories and files
RuoYi-Vue3/.idea
RuoYi-Vue3/.vscode
RuoYi-Vue3/*.suo
RuoYi-Vue3/*.ntvs*
RuoYi-Vue3/*.njsproj
RuoYi-Vue3/*.sln
RuoYi-Vue3/*.local

RuoYi-Vue3/package-lock.json
RuoYi-Vue3/yarn.lock




vue-pure-admin/node_modules
vue-pure-admin/.DS_Store
vue-pure-admin/dist
vue-pure-admin/dist-ssr
vue-pure-admin/*.local
vue-pure-admin/.eslintcache
vue-pure-admin/report.html
vue-pure-admin/vite.config.*.timestamp*

vue-pure-admin/yarn.lock
vue-pure-admin/npm-debug.log*
vue-pure-admin/.pnpm-error.log*
vue-pure-admin/.pnpm-debug.log
vue-pure-admin/tests/**/coverage/

# Editor directories and files
vue-pure-admin/.idea
vue-pure-admin/*.suo
vue-pure-admin/*.ntvs*
vue-pure-admin/*.njsproj
vue-pure-admin/*.sln
vue-pure-admin/tsconfig.tsbuildinfo

